.main-div {
  position: relative;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures the bubbles do not overflow */
  border: 1px solid #ccc; /* Optional: Add a border to see the boundary */
  border-radius: 10px; /* Optional: Add some rounding to the edges */

}

.bubble {
  position: absolute;
  
  background: #e0f7fa;
  border-radius: 50%;
  opacity: 0.5;
  animation: float 4s ease-in-out infinite;
  opacity:.3
}

.bubble1 {
    width: 80px; /* Adjust the size of the bubbles */
  height: 80px;
  top: 10px; /* Adjust the position within the main-div */
  left: 10px;
}

.bubble2 {
    width: 40px; /* Adjust the size of the bubbles */
  height: 40px;
  bottom: 10px; /* Adjust the position within the main-div */
  right: 10px;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.logout-button {
  z-index: 1;
  padding: 10px 20px;
  /* background-color: #00796b; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #004d40;
}
